body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 64px;
  background-color: #1f2937;
}

.logo {
  font-weight: 900;
  color: #f9faf8;
  font-size: 24px;
}

.body {
  flex: 1;
}

.footer {
}
