body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "Roboto";
  font-family: "Roboto";
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  border: none;
  padding: 8px 32px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 64px;
  background-color: #1f2937;
}

.logo {
  font-weight: 900;
  color: #f9faf8;
  font-size: 24px;
}

.intro {
  padding: 48px 64px;
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  gap: 16px;
}

.content {
  flex: 1;
}

.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.subtitle {
  color: #e5e7eb;
  font-size: 18px;
  margin: 8px 0;
}

.placeholder {
  flex: 1;
  align-self: center;
  max-width:300px;
}

.body {
  flex: 1;
}

.intro {
  padding: 48px 64px;
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  gap: 16px;
}

.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.subtitle {
  color: #e5e7eb;
  font-size: 18px;
  margin: 8px 0;
}

.content {
  flex: 1;
}

.placeholder {
  flex: 1;
  align-self: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px auto;
  .title {
    color: #1f2937;
    font-size: 32px;
    font-weight: 900;
  }
}

.items {
  display: flex;
  gap: 32px;
  margin: 32px auto;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-contents:space-between;

  img {
    width: 250px;
    height: 250px;
  }

  .text {
    color: #1f2937;
    font-size:18px;
  }
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  .content {
    padding: 64px 0;
    width: 60%;
  }
}

.author {
  padding-top: 8px;
  text-align: end;
  font-size: 32px;
}

.action {
  padding: 64px;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #3882f6;
  padding: 64px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.text {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 24px;
    color: #f9faf8;
  }

  .subtitle {
    font-size: 18px;
  }
}

.container button {
  border: 1px solid #f9faf8;
  border-radius: 5px;
  flex-shrink: 0;
}

.footer {
  background-color: #1f2937;
  padding: 16px 0;
  text-align: center;
}
